name: Publish yuno-demo-sdk-ui to npm

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build package
        run: bun run build --cwd ./packages/yuno-demo-sdk-ui

      - name: Publish to npm
        run: bun publish --cwd ./packages/yuno-demo-sdk-ui
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
